# Conexión principal
DB_URL=USER
DB_USER=uuu
DB_PASSWORD=contrase

# Seguridad (Es bueno tenerlo aquí también)
APP_JWT_SECRET=SEGURA
APP_JWT_EXPIRATION=11111

# Contacto
CONTACT_ADMIN_EMAIL=tu-email@ejemplo.com
